/* src/assets/styles/variables.css */
:root {
  --primary-color: #4A4A4A; /* Gris foncé pour les éléments principaux */
  --secondary-color: #F9F9F9; /* Blanc cassé pour les arrière-plans */
  --accent-color: #FF6F61; /* Accent color (un orange doux) */
  --accent-color-light: #FFA07A; /* Accent color light */
  --text-color: #333333; /* Gris pour le texte */
  --highlight-color: #FFD700; /* Jaune doré pour les surlignages */
  --font-family-title: 'Bebas Neue', sans-serif;
  --font-family-text: 'Roboto', sans-serif;
  --button-padding: 0.5rem 1rem;
  --button-border-radius: 5px;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
